<div class="banner">
    <h1 class="banner-head">
		Congratulations!
    </h1>
</div>

<div class="span5 offset4">
<center>
You're all set!<br><br> In a few moments you will receive an email from us.<br><br>If you have any questions, email us at <b>info@elpuntonetwork.com</b>
</center>
</div>


