<div class="banner">
    <h1 class="banner-head">
		Congratulations!
    </h1>
</div>

<div class="span5 offset4">
<center>
You're in! Check your email for your El Punto Network membership Number.</b><br><br>It's a good idea to save this number!<br><br>If you have any questions, email us at <b>info@elpuntonetwork.com</b>
</center>
</div>


