<div class="banner">
    <h1 class="banner-head">
		Hey! Get in touch with us.
    </h1>
</div>

<div class="span5 offset4">
<center>
120-10 15th Ave.<br>
Suite 5<br>
College Point, NY 11356<br><br>
<b>516-515-1566</b><br>
<b>info@elpuntonetwork.com</b>
</center>
</div>

