<div class="banner">
    <h1 class="banner-head">
		El Punto Network.
    </h1>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g-r">
		<div class="pure-u-1-2">
		            <div class="l-box">
						<div class="information-head-p">
							  <h3 class="information-head">Come in, We're Open!</h3>
		                <p>
		                    Now serving Queens, Manhattan and Long Island. <br><br>When you sign up, you will get an electronic membership card. Use this card in your neighborhood to receive discounts, promotions and exclusive access to private events from our partners. <br><br>It's that simple.
		                </p>
						</div>
		           <div id="membership-card">
					<%= image_tag("membership-card.jpg", :alt => "membership card") %>
				   </div>
		 			</div>
		     </div>
		
        <div class="pure-u-1-2">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2>Personal Membership</h2>

                    <span class="pricing-table-price">
                       $0<span>PER MONTH</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
					<li>Local Discounts</li>
					<li>Special Promotions</li>
                    <li>Raffles</li>
                    <li>Giveaways</li>
                    <li>Events</li>
                  
                </ul>

                
				<%= link_to new_user_registration_path do %>
				<button class="pure-button button-choose">Join Now</button>
				<% end %>
            </div>
        </div>

	



    </div> <!-- end pricing-tables -->
</div> <!-- end l-content -->

<div class="footer">
    <p class="l-box">
        <a href="#">Become a partner</a> Header image courtesy of <a href='http://unsplash.com/'>Unsplash</a>.
    </p>
</div>