// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-list{
	margin-bottom:20px;
}

.category-list-show{
	padding:40px;
	margin-top:-40px;
}

.category-each{
	letter-spacing: 0.25em;
	background:#2C94D2;
	font-family:'Helvetica';
	font-weight:400;
	padding:10px;
	text-align:center;
}

.category-each:hover{
	font-color:#208DD6;
}

.category-each-button{
	color:#96C9E8!important;
	font-size:16px;
	text-decoration:none !important;
	background-color:transparent !important;
}

.category-each-button:hover{
	text-decoration:none !important;
	color:#95D3FD !important;
	background-color:none !important;
}


.image-css{
	width:50%;
}

.listing-list-show{
	border-right:1px solid #ECECEC;
	border-bottom:1px solid #ECECEC;
	border-left:1px solid #ECECEC;
	padding:20px;
	
}

.listing-list-show:hover{
	border-right:1px solid #ECECEC;
	border-bottom:1px solid #ECECEC;
	background:#EEEEEE;
	border-left:5px solid #03A3C6;
}

.wrapper-box{
	background-color:#D34F9F;
	height:140px;
	color:white;
}
.wrapper-box-subheading{
	color:#EEC269;
}

.black-box{
	background-color:black;
	color:white;
	height:100px;
}

.white-box{
	padding:10px;
}

.discount{
	color:white;
	font-size:38px;
	padding:30px;
	font-weight:900;
	border: 3px dashed #ccc;	
}

.designer-glasses{
	position:absolute;
	color:silver;
	margin-top:-100px;
}

.divider-bar{
	background-color:#2C94D2;
	height:3px;
	margin-top:50px;
}

.chips-salsa-top{  
	text-align:center;
	color:white;
	margin-top:20px;
	font-size:18px;
	font-weight:bold;
	font-weight:800;
	letter-spacing:10px;
	line-height:30px;
}

.box-middle-line{
	border:1px dashed black;
}