// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#listing-name-css{
	font-weight:600;
	color:#2C94D2;
	font-size:14px;
}

#listing-company-css{
	color:black;
	font-weight:800;
	font-size:16px;
}

.box-1-show{
	height:60px;
	background-color:rgba(45, 59, 78, 1.000);
}

.box-1-show-left{
	height:60px;
	background-color:rgba(54, 69, 90, 1.000);
}
.box-2-show{
	margin-top:35px;
	height:70px;
}

.box-2-show-text{
	text-align:center;
	padding:10px;
	color:rgba(150, 201, 232, 1.000);
}

.industry-badge-show{
	float:left;
	font-size:18px;
	border-radius:10px;
	padding:3px;
	color:rgba(170, 170, 172, 1.000);
	letter-spacing:3px;
	font-weight:800;

}

.discount-text{
	padding:20px;
	font-style: bold;
	font-weight:800;
	font-size:16px;
	color:black;
	letter-spacing:1px;
}

.discount-wrapper{
	height:auto;
	background:white;
	border:5px dashed red;
}

.discount-wrapper:hover{
	height:auto;
	background:white;
	border:5px dashed red;
}