// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.industry-badge-show{
	padding-top:10px;
	font-size:16px;
	color:rgba(139, 139, 139, 1.000);
	height:35px;
	padding-left:10px;

}

.listing-show-headline{
	padding-left:10px;
	padding-top:10px;
	font-size:24px;
	color:rgba(5, 71, 151, 1.000);
	height:35px;
	font-weight:bold;
}

.listing-show-business-info{
	padding:10px;
	color:rgba(81, 96, 102, 1.000);
	font-size:14px;
	font-weight:400;
}

#listing-name-css{
	font-weight:600;
	color:#2C94D2;
	font-size:12px;
	
}

#listing-company-css{
	color:black;
	font-weight:800;
	font-size:12px;

}

.listing-company-css{
	color:rgba(6, 71, 151, 1.000);
	font-weight:800;
	font-size:14px;
	text-decoration:none !important;
}

#listing-list-show{
	padding:10px;
	background:rgba(252, 252, 252, 1.000);
}

.show-wrapper{
	border-left:1px solid rgba(204, 204, 200, 1.000);
	border-right:1px solid rgba(204, 204, 200, 1.000);
	border-bottom:1px solid rgba(204, 204, 200, 1.000);
}

.box-1-show{
	height:80px;
}

.box-1-show-left{
	height:80px;
	background-color:#FFA263;
}
.box-2-show{
	margin-top:35px;
	height:70px;
}

.box-2-show-text{
	text-align:center;
	padding:10px;
	color:rgba(150, 201, 232, 1.000);
}



.discount-text-spanish{
	padding:20px;
	font-style: bold;
	font-weight:800;
	font-size:14px;
	color:black;
	letter-spacing:1px;
}

.discount-text-english{
	padding:20px;
	font-weight:400;
	font-size:14px;
	color:black;
	letter-spacing:1px;
}

.discount-wrapper{
	min-height:auto !important;
	background:white;
	border:5px dashed red;
}

.discount-wrapper:hover{
	height:auto;
	background:white;
	border:5px dashed red;
}