// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.industry-badge-show{
	float:left;
	padding-bottom:-5px;
	padding:10px;
	font-size:16px;
	background:rgba(51, 60, 67, 1.000);
	color:rgba(255, 195, 0, 1.000);
	height:20px;
	margin-top:20px;
	border-radius:20px;
	margin-left:10px;
}

.listing-show-headline{
	padding-left:10px;
	padding-top:10px;
	font-size:24px;
	color:rgba(5, 71, 151, 1.000);
	height:35px;
	font-weight:bold;
}

.listing-show-business-info{
	padding:10px;
	color:rgba(81, 96, 102, 1.000);
	font-size:14px;
	font-weight:400;
}

#listing-name-css{
	font-weight:600;
	color:#2C94D2;
	font-size:12px;
	
}

#listing-company-css{
	color:black;
	font-weight:800;
	font-size:12px;

}

.listing-company-css{
	color:rgba(6, 71, 151, 1.000);
	font-weight:800;
	font-size:14px;
	text-decoration:none !important;
}


.industry-box-bottom{
	margin-top:1px;
	height:100%;
	background:rgba(52, 60, 68, 1.000);	
	border-right:1px solid rgba(205, 205, 205, 1.000);
}


#directory-list-show{
		padding:10px;
		border-bottom:1px solid rgba(204, 204, 200, 1.000);
}

.css-overlap-wrapper{
	width:100%;
	height: auto;
    position: relative;
	background: rgba(252, 252, 252, 1.000);;
}

#category-list-listing-show{
	min-width:0%;
	margin-top:1px;
	height:100%;
	background:rgba(52, 60, 68, 1.000);	
	border-right:1px solid rgba(205, 205, 205, 1.000);
	z-index:1;
}

#listing-list-show{
	margin-top:1px;
	padding:10px;
	height:100%;
	background:white;
	border-bottom:1px solid rgba(204, 204, 200, 1.000);
   
}

.right-side-listing-show{

}

.show-wrapper{
	border-left:1px solid rgba(204, 204, 200, 1.000);
	border-right:1px solid rgba(204, 204, 200, 1.000);
	border-bottom:1px solid rgba(204, 204, 200, 1.000);
}

.box-1-show{
	height:80px;
}

.box-1-show-left{
	height:80px;
	background-color:#FFA263;
}
.box-2-show{
	margin-top:35px;
	height:70px;
}

.box-2-show-text{
	text-align:center;
	padding:10px;
	color:rgba(150, 201, 232, 1.000);
}

.show-map{
	float:right;
	border:5px solid white;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}


.discount-text-spanish{
	padding:20px;
	font-style: bold;
	font-weight:800;
	font-size:14px;
	color:black;
	letter-spacing:1px;
}

.discount-text-english{
	padding:20px;
	font-weight:400;
	font-size:14px;
	color:black;
	letter-spacing:1px;
}

.discount-wrapper{
	min-height:auto !important;
	background:white;
	border:5px dashed red;
}

.discount-wrapper:hover{
	height:auto;
	background:white;
	border:5px dashed red;
}

#disqus_thread{
	padding:20px;
	border: 5px solid white;
}

.listing-attribute-topic{
	padding:10px;
	color:rgba(5, 71, 151, 1.000);
	font-weight:bold;
}
.listing-attribute{
	padding-left:10px;
}

.photo{
	float:right;
	max-width:150px;
	max-height:150px;
}