/*
 *= require print
 */

@media print{ 
  body.rails_admin { 
    padding-top: 0px; 
  } 
  h1 { 
    font-size: 15px; 
  } 
   .navbar-fixed-top { 
    display: none; 
  } 
  .breadcrumb { 
    display: none; 
  } 
  .nav-tabs { 
    display: none; 
  } 
  .row-fluid .span3 { 
  display: none; 
  } 

  .login-button-wrapper{
	display:none;
}
  .privacy-policy{
	display:none;
}
  footer { 
    display: none; 
  } 

.search-bar { 
  display: none; 
  }

#listing-list-show{
	padding:20px;
	border:3px solid #FAFAFA;
}

#listing-name-css{
	font-weight:600;
	color:#2C94D2;
	font-size:14px;
}

#listing-company-css{
	color:black;
	font-weight:800;
	font-size:16px;
}

.listing-company-css{
	color:black;
	font-weight:800;
	font-size:16px;
}


.industry-badge-show{
	float:left;
	font-size:18px;
	border-radius:10px;
	padding:3px;
	color:rgba(170, 170, 172, 1.000);
	letter-spacing:3px;
	font-weight:800;

}

.discount-text{
	padding:20px;
	font-style: bold;
	font-weight:800;
	font-size:16px;
	color:black;
	letter-spacing:1px;
}

.discount-wrapper{
	height:auto;
	background:white;
	border:5px dashed red;
}

.discount-text-spanish{
	padding:20px;
	font-style: bold;
	font-weight:800;
	font-size:14px;
	color:black;
	letter-spacing:1px;
}

.discount-text-english{
	padding:20px;
	font-weight:400;
	font-size:14px;
	color:black;
	letter-spacing:1px;
}

.epnlogocss {
	width:20% !important;
	display: none !important;
}

}
