// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-button-wrapper{
	margin-top:42px;
	width:100%;
}
.login-button{
	color:rgba(119, 119, 131, 1.000);
	text-decoration:none;
}

.login-button:hover{
	color:rgba(119, 119, 131, 1.000);
	text-decoration:none;
}

.signin-form{
	font-family:"Helvetica";
	margin:30px;
	background-color:rgba(2, 2, 2, 0.60);
	color:white;
	border-radius:20px;

}



