.search-css{
  width:100%;
  outline: none;
  border:none !important;
  box-shadow:none !important;
  font-family:"Helvetica";
  font-size: 24px !important;
  height:40px !important;
  font-color:black !important;
  margin-top:-10px;
}

.search-bar{
	padding:20px;
}

.search-bar:hover{
}