

<div class="row-fluid">
<div class="span12">
	


<div class="row-fluid">
<div class="span2">

	<div class="category-list">
		<% @categories.sort { |a,b| a.name <=> b.name }.each do |category| %>
	
		<div class="category-each">
		<%= link_to category,:class => "category-each-button" do %><br>
		<%= category.name %>
		</div>
		<% end %>
		<% end %>
		
	</div>

</div>


<div class="span10">

<h3 class="information-head"> Participating Businesses </h3>
 <p>
        This is a list of some of the companies we work with. <br><br>Select from the categories on the left to see some of our partners. 
    </p>

</div>


</div>

</div>
</div>

<%= link_to 'New Category', new_category_path %>
