<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1>Hi <%= @user.firstname %>!</h1>
    <h2>Welcome to El Punto Network!</h2>
    <p>
      You have successfully signed up. Your Membership # is <%= @user.token %>
    </p>
  </body>
</html>